

<!DOCTYPE html5>
<html>
<head>
	<title>Snake</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/snake/snakesource/snake(1of1)style.css">
</head>
<body>
    <br>
    <div id = "cv">
        <canvas id="mycanv" width="875" height="875"></canvas>
    </div>
	
    <div id = "k">
        <button id = "up" class = "key">ʌ</button>
        <br>
        <button id = "left" class = "key">&lt</button>
        <button id = "right" class = "key">&gt</button>
        <br>
        <button id = "down" class = "key">V</button>
        <br><br><br>
        <button id = "new">新游戏</button>
        <p id = "msg"></p>
    </div>
    
    <script src="/snake/snakesource/socket.io.js"></script>
    <script src="/snake/snakesource/snake(1of2)draw.js"></script>
    <script src="/snake/snakesource/snake(2of2)ws.js"></script>

    

</body>
</html>