        #cv{
            width: 900px;
            height: 900px;
            background-color: #70b8ff;
            float: left;
        }
        #k{
            width: 300px;
            height: 900px;
            background-color: rgb(255, 185, 80);
            float: left;
        }
        .key{
            padding: 30px;
            font-size: 20px;
        }
        #up, #down{
            margin-left: 80px;
        }
        #right{
            margin-left: 75px;
        }
        #new{
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 25px;
            padding-top: 25px;
            font-size: 20px;
            margin: 30px;
        }
        #msg{
            font-size: 50px;
            margin: 30px;
        }
